body {
    font-size: 15pt;
    background-color: #dde1e7;
    width: 20rem;
    overflow: hidden;
}

*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}



/*#editElem{
  position: absolute;
  top: auto;
  
}
*/
img {
  height: 22rem;
  width: 22rem;
}

/*lineWidTT lineWidTTT eraserWidTT eraserWidTTT*/
.blurTT {
  position: relative;
  display: inline-block;
  border: none;
  outline: none;
  height: 2rem;
  width: 4rem;
  margin-left: 20px;
  text-align: center;
  border-radius: 6px;
  background-color: #dde1e7;
  box-shadow: 2px 2px 6px #ffffff,
  -2px -2px 2px rgba(94, 104, 121, 0.945);
}

.blurTT .blurTTT {
  visibility: hidden;
  width: 230px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -100px;
  
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.blurTT:hover .blurTTT {
  visibility: visible;
  opacity: 1;
}


/*lineWidTT lineWidTTT eraserWidTT eraserWidTTT*/
.gTT {
  position: relative;
  display: inline-block;
  border: none;
  outline: none;
  height: 2rem;
  width: 4rem;
  margin-left: 10px;
  text-align: center;
  border-radius: 6px;
  background-color: #dde1e7;
  box-shadow: 2px 2px 6px #ffffff,
  -2px -2px 2px rgba(94, 104, 121, 0.945);
}

.gTT .gTTT {
  visibility: hidden;
  width: 230px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -100px;
  
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.gTT:hover .gTTT {
  visibility: visible;
  opacity: 1;
}

/*lineWidTT lineWidTTT eraserWidTT eraserWidTTT*/
.iTT {
  position: relative;
  display: inline-block;
  border: none;
  outline: none;
  height: 2rem;
  width: 4rem;
  margin-left: 10px;
  text-align: center;
  border-radius: 6px;
  background-color: #dde1e7;
  box-shadow: 2px 2px 6px #ffffff,
  -2px -2px 2px rgba(94, 104, 121, 0.945);
}

.iTT .iTTT {
  visibility: hidden;
  width: 230px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -100px;
  
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.iTT:hover .iTTT {
  visibility: visible;
  opacity: 1;
}


.sTT {
  position: relative;
  display: inline-block;
  border: none;
  outline: none;
  height: 2rem;
  width: 4rem;
  margin-top: 10px;
  margin-left: 20px;
  text-align: center;
  border-radius: 6px;
  background-color: #dde1e7;
  box-shadow: 2px 2px 6px #ffffff,
  -2px -2px 2px rgba(94, 104, 121, 0.945);
}

.sTT .sTTT {
  visibility: hidden;
  width: 230px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -100px;
  
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.sTT:hover .sTTT {
  visibility: visible;
  opacity: 1;
}

.cTT {
  position: relative;
  display: inline-block;
  border: none;
  outline: none;
  height: 2rem;
  width: 5rem;
  margin-top: 10px;
  margin-left: 20px;
  text-align: center;
  border-radius: 6px;
  background-color: #dde1e7;
  box-shadow: 2px 2px 6px #ffffff,
  -2px -2px 2px rgba(94, 104, 121, 0.945);
}

.cTT .cTTT {
  visibility: hidden;
  width: 230px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -100px;
  
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

/*o br sat hue*/
.cTT:hover .cTTT {
  visibility: visible;
  opacity: 1;
}

.cTT {
  position: relative;
  display: inline-block;
  border: none;
  outline: none;
  height: 2rem;
  width: 5rem;
  margin-top: 10px;
  margin-left: 20px;
  text-align: center;
  border-radius: 6px;
  background-color: #dde1e7;
  box-shadow: 2px 2px 6px #ffffff,
  -2px -2px 2px rgba(94, 104, 121, 0.945);
}

.cTT .cTTT {
  visibility: hidden;
  width: 230px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -100px;
  
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

/*o br sat hue*/
.cTT:hover .cTTT {
  visibility: visible;
  opacity: 1;
}

.oTT {
  position: relative;
  display: inline-block;
  border: none;
  outline: none;
  height: 2rem;
  width: 5rem;
  margin-top: 10px;
  margin-left: 20px;
  text-align: center;
  border-radius: 6px;
  background-color: #dde1e7;
  box-shadow: 2px 2px 6px #ffffff,
  -2px -2px 2px rgba(94, 104, 121, 0.945);
}

.oTT .oTTT {
  visibility: hidden;
  width: 230px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -100px;
  
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

/*o br sat hue*/
.oTT:hover .oTTT {
  visibility: visible;
  opacity: 1;
}

.brTT {
  position: relative;
  display: inline-block;
  border: none;
  outline: none;
  height: 2rem;
  width: 6rem;
  margin-top: 10px;
  margin-left: 20px;
  text-align: center;
  border-radius: 6px;
  background-color: #dde1e7;
  box-shadow: 2px 2px 6px #ffffff,
  -2px -2px 2px rgba(94, 104, 121, 0.945);
}

.brTT .brTTT {
  visibility: hidden;
  width: 230px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -100px;
  
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

/*o br sat hue*/
.brTT:hover .brTTT {
  visibility: visible;
  opacity: 1;
}

.satTT {
  position: relative;
  display: inline-block;
  border: none;
  outline: none;
  height: 2rem;
  width: 5rem;
  margin-top: 10px;
  margin-left: 20px;
  text-align: center;
  border-radius: 6px;
  background-color: #dde1e7;
  box-shadow: 2px 2px 6px #ffffff,
  -2px -2px 2px rgba(94, 104, 121, 0.945);
}

.satTT .satTTT {
  visibility: hidden;
  width: 230px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -100px;
  
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

/*o br sat hue*/
.satTT:hover .satTTT {
  visibility: visible;
  opacity: 1;
}


.hueTT {
  position: relative;
  display: inline-block;
  border: none;
  outline: none;
  height: 2rem;
  width: 5rem;
  margin-top: 10px;
  margin-left: 20px;
  text-align: center;
  border-radius: 6px;
  background-color: #dde1e7;
  box-shadow: 2px 2px 6px #ffffff,
  -2px -2px 2px rgba(94, 104, 121, 0.945);
}

.hueTT .hueTTT {
  visibility: hidden;
  width: 230px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -100px;
  
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

/*o br sat hue*/
.hueTT:hover .hueTTT {
  visibility: visible;
  opacity: 1;
}

#blurValue{
width: 14rem;
}
